{% extends "base.html" %}

{% block content %}
<div class="card block">
    <div class="card-content mb-1">
        <div class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img src="{{ user.picture_url }}" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">@{{ user.username }}</p>
            </div>
        </div>
        <div class="content">
            <p class="block">
                Normally their biography or something fun would go here but I didn't want to implement that.
            </p>
            <p class="block">
                Honestly this page is just here for flavor, I don't think there's anything to hack. I could be wrong though.
            </p>
        </div>
    </div>
</div>

<h1 class="title">Recent Posts</h1>
{% if not posts %}
<p class="block">
    This user has not posted yet!
</p>
{% endif %}
{% for post in posts %}
<div class="card">
    <div class="card-content mb-1">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="{{ post.picture_url }}" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ post.username }}</p>
                <p class="subtitle is-6"><time datetime="2016-1-1">{{ post.timestamp|dateconversion }}</time></p>
            </div>
        </div>
        
        <div class="content">
            {{ post.message | safe }}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}