{% extends "base.html" %}

{% block content %}
<h1>Reset Password</h1>

<p class="mb-5">Forgot your password? Enter your username and we will send a reset code to your phone.</p>

<form action="send_reset_code">
    <div class="field has-addons">
      <div class="control">
          <div class="field has-addons">
              <div class="control">
                <input name="username" type="text" class="input" placeholder="Username"></input>
              </div>
              <div class="control">
                  <input type="submit" class="button is-info" value="Send Reset Code">
              </div>
            </div>
      </div>
  </div>
</form>
{% endblock %}