{% extends "base.html" %}

{% block content %}
<h1>Reset Password</h1>

<p class="mb-5">Forgot your password? Enter your username and we will send a reset code to your phone.</p>

<form action="/api/reset_request" onsubmit="send_reset_code(event, this)">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input name="username" type="text" class="input" placeholder="Username"></input>
      </div>
      <div class="control">
          <input type="submit" class="button is-info" value="Send Reset Code">
      </div>
  </div>
</form>

<div id="reset_error" class="notification is-danger is-hidden"></div>
<div id="reset_submit" class="is-hidden">
  <p class="notification is-success">We have sent a reset code to your phone. Enter it to reset your password.</p>
  
  <form action="/api/reset_submit" method="post">
      <input name="username" type="hidden" value="{{ username }}"></input>
      <div class="field">
        <label class="label">Password Reset Code</label>
        <div class="control">
          <input name="reset_code" type="text" inputmode="numeric" class="input" placeholder="Reset Code"></input>
        </div>
      </div>
      <div class="field">
        <label class="label">New Password</label>
        <div class="control">
          <input name="new_password" type="password" class="input" placeholder="New Password"></input>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="submit" class="input" value="Reset Password"></input>
        </div>
      </div>
  </form>
</div>
{% endblock %}