<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    . . .
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>FlaskBlog</title>
</head>
. . .
    <title>Flask code grader</title>
</head>
<body>
   <h1>Code Grader:</h1>
</body>
</html> -->



    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        table.diff {font-family:Courier; border:medium;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"> -->
</head>

<body>
    <h1>{{ graded_verifier }}</h1>
    <!-- <form action="/" method="get">
        <button name="refresh" value="refresh_">Refresh</button>
    </form> -->
    <form action="/diffSubmissionPrev" method="post">
        <button name="previous" value="previous" style="margin-top:50px">Prev</button>
    </form>
    <form action="/diffSubmissionNext" method="post">
        <button name="next" value="next">Next</button>
    </form>
    <form action="/postGradePartial" method="post">        
        <input id="gradeInput" type="number" name = gradeValue placeholder="Input Grade out of 100" max="100" min="0" style="width:150px" formaction="/postGradePartial"></input>
        <input if="gradeFeedback" type="text" name = feedbackValue placeholder="Input Feedback" style="width:300px" formaction="/postGradePartial"></input>
        <input id="quickPartial" type="submit" name="gradePartial" value="Submit Grade with Feedback" style="margin-right:50px"></input>
        <input id="quick100" type="submit" name="quickGrade100" value="Quick Grade 100" formaction="/postGrade100"></input>
        <!-- <button id="focusGradeValue" type="hidden"></button> -->
    </form>


    <!-- <form action="/" method="get">
        <button id="refresh-button" name="refresh" value="refresh_">Refresh</button>
    </form> -->
    <script>
        function handle_keyup(event) {
            if (event.key == "q" && event.altKey == true) {
                document.getElementById("quick100").click();
            } 
            else if (event.key == "d" && event.altKey == true) {
                document.getElementById("quickPartial").click();
            }
            else if (event.key == "g" && event.altKey == true) {
                document.getElementById("gradeInput").focus();
            }
            else if (event.key == "f" && event.altKey == true) {
                document.getElementById("gradeFeedback").focus();
            }
        }
        document.addEventListener("keyup", handle_keyup);
    </script>

    <p>Initialized to first ungraded file</p>
    <h5>
    {{ diff|safe }}
    </h5>
    <!-- <table class="diff" id="difflib_chg_to0__top"
           cellspacing="0" cellpadding="0" rules="groups" >
        <colgroup></colgroup> <colgroup></colgroup> <colgroup></colgroup>
        <colgroup></colgroup> <colgroup></colgroup> <colgroup></colgroup>
        <thead><tr><th class="diff_next"><br /></th><th colspan="2" class="diff_header">Provided</th><th class="diff_next"><br /></th><th colspan="2" class="diff_header">Student Submission</th></tr></thead>
        <tbody>
            <tr><td class="diff_next" id="difflib_chg_to0__0"><a href="#difflib_chg_to0__1">n</a></td><td class="diff_header"></td><td nowrap="nowrap"></td><td class="diff_next"><a href="#difflib_chg_to0__1">n</a></td><td class="diff_header" id="to0_1">1</td><td nowrap="nowrap"><span class="diff_add">Is</span></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header"></td><td nowrap="nowrap"></td><td class="diff_next"></td><td class="diff_header" id="to0_2">2</td><td nowrap="nowrap"><span class="diff_add">something</span></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header"></td><td nowrap="nowrap"></td><td class="diff_next"></td><td class="diff_header" id="to0_3">3</td><td nowrap="nowrap"><span class="diff_add">of</span></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header"></td><td nowrap="nowrap"></td><td class="diff_next"></td><td class="diff_header" id="to0_4">4</td><td nowrap="nowrap"><span class="diff_add">A</span></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header"></td><td nowrap="nowrap"></td><td class="diff_next"></td><td class="diff_header" id="to0_5">5</td><td nowrap="nowrap"><span class="diff_add">problematic&nbsp;</span></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header"></td><td nowrap="nowrap"></td><td class="diff_next"></td><td class="diff_header" id="to0_6">6</td><td nowrap="nowrap"><span class="diff_add">waffle?</span></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from0_1">1</td><td nowrap="nowrap"></td><td class="diff_next"></td><td class="diff_header" id="to0_7">7</td><td nowrap="nowrap"></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from0_2">2</td><td nowrap="nowrap">This</td><td class="diff_next"></td><td class="diff_header" id="to0_8">8</td><td nowrap="nowrap">This</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from0_3">3</td><td nowrap="nowrap">Is</td><td class="diff_next"></td><td class="diff_header" id="to0_9">9</td><td nowrap="nowrap">Is</td></tr>
        </tbody>
        <tbody>
            <tr><td class="diff_next" id="difflib_chg_to0__1"></td><td class="diff_header" id="from0_12">12</td><td nowrap="nowrap">of</td><td class="diff_next"></td><td class="diff_header" id="to0_18">18</td><td nowrap="nowrap">of</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from0_13">13</td><td nowrap="nowrap">Concept</td><td class="diff_next"></td><td class="diff_header" id="to0_19">19</td><td nowrap="nowrap">Concept</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from0_14">14</td><td nowrap="nowrap">This</td><td class="diff_next"></td><td class="diff_header" id="to0_20">20</td><td nowrap="nowrap">This</td></tr>
            <tr><td class="diff_next"><a href="#difflib_chg_to0__top">t</a></td><td class="diff_header" id="from0_15">15</td><td nowrap="nowrap"><span class="diff_sub">1</span></td><td class="diff_next"><a href="#difflib_chg_to0__top">t</a></td><td class="diff_header"></td><td nowrap="nowrap"></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from0_16">16</td><td nowrap="nowrap">Is</td><td class="diff_next"></td><td class="diff_header" id="to0_21">21</td><td nowrap="nowrap">Is</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from0_17">17</td><td nowrap="nowrap">A</td><td class="diff_next"></td><td class="diff_header" id="to0_22">22</td><td nowrap="nowrap">A</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from0_18">18</td><td nowrap="nowrap">Proof</td><td class="diff_next"></td><td class="diff_header" id="to0_23">23</td><td nowrap="nowrap">Proof</td></tr>
        </tbody>
    </table> -->



    <table class="diff" summary="Legends">
        <tr> <th colspan="2"> Legends </th> </tr>
        <tr> <td> <table border="" summary="Colors">
                      <tr><th> Colors </th> </tr>
                      <tr><td class="diff_add">&nbsp;Added&nbsp;</td></tr>
                      <tr><td class="diff_chg">Changed</td> </tr>
                      <tr><td class="diff_sub">Deleted</td> </tr>
                  </table></td>
             <td> <table border="" summary="Links">
                      <tr><th colspan="2"> Links </th> </tr>
                      <tr><td>(f)irst change</td> </tr>
                      <tr><td>(n)ext change</td> </tr>
                      <tr><td>(t)op</td> </tr>
                  </table></td> </tr>
    </table>
    </table>
</body>

</html>